# Ignore bin and obj directories
**/bin/
**/obj/

# Ignore other common files and folders
*.log
*.vs/
.vscode/
*.user
*.suo
*.bak
*.swp
*._*
*.DS_Store
*.class
*.tmp
*.out
*.exe
*.dll
*.pdb
*.idb
*.class
*.jar
*.war
*.ear
*.db
*.sqlite
*.sqlite3
*.log
*.gz
*.zip
*.rar
*.tar
*.7z
*.bz2
*.tgz
*.diff
*.patch
